/* 연결 된 css */
@import url('font.css');


/* root */
:root {
	--main-color: #001fd1;
	--main-text-color: #000000;
	--sub-text-color: #666666;
	--sub-banner-color: #b0b4eb;
	--line-color: #d1d1d1;
	--footer-color: #222222;
	--footer-line-color: #393939;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: var(--main-text-color)
}

.container {
	width: 1920px;
	margin: 0 auto;
}

body {
	position: relative;
}

html{
	scroll-behavior: smooth;
}


/* header */

header {
	position: relative;
	height: 150px;
}

header .header-color-bar {
	position: absolute;
	top: 0;
	width: 1920px;
	height: 10px;
	background:var(--main-color)
}

header #logo {
	position: absolute;
	left: 200px;
	top: 66px;
}

header #gnb {
	display: flex;
	position: absolute;
	left: 903.68px;
	top: 76.96px;
}

header #gnb li {
	margin-right: 68px;
	font-size: 14px;
	font-family: "gmarket-sans-medium";
	line-height: 18px;
	letter-spacing: 0.025em;
	/* z-index: 1; */
}

header #gnb li:hover {
	color: var(--main-color);
}

.gnb-point {
	position: absolute;
	left: 995px;
	top: 84px;
	z-index: -1;
}

header .kor {
	position: absolute;
	width: 67px;
	height: 25px;
	left: 1583px;
	top: 73px;
	border-radius: 4px;
	color: #fff;
	background: var(--main-color);
	display: flex;
	align-items: center;
	justify-content: center;
}

header .eng {
	position: absolute;
	width: 67px;
	height: 25px;
	left: 1653px;
	top: 73px;
	border-radius: 4px;
	color: var(--main-color);
	border: 1px solid var(--main-color);
	display: flex;
	align-items: center;
	justify-content: center;
}


/* main section */

.row1-img {
	position: absolute;
	top: 241px;
	left: 828px;
	z-index: 2;
}

.row1-circle {
	position: absolute;
	top: 764px;
	left: 795px;
}

.row1-line {
	position: absolute;
	top: 245px;
	left: 909px;
}

.row1-point {
	position: absolute;
	top: 323px;
	left: 1631px;
}

.row1 p:nth-child(5) {
	font-family: "gmarket-sans-light";
	font-size: 54px;
	line-height: 66px;
	position: absolute;
	left: 198.18px;
	top: 363.89px;
}

.row1 p:last-child {
	font-family: "gmarket-sans-bold";
	font-size: 54px;
	line-height: 66px;
	position: absolute;
	left: 197.18px;
	top: 708.89px;
}

p span {
	color: var(--main-color);
}

.row2-img {
	position: absolute;
	top: 1146px;
	left: 177px;
	z-index: 1;
}

.row2-line {
	position: absolute;
	top: 1094px;
	left: 255px;
}

.row2 p:nth-child(3) {
	font-family: "gmarket-sans-light";
	font-size: 44px;
	line-height: 56px;
	position: absolute;
	left: 1038.18px;
	top: 1200.89px;
	width: 615.11px;
}

.row2 p:nth-child(4) {
	font-family: "malgun-gothic";
	font-size: 16px;
	line-height: 30px;
	position: absolute;
	left: 1039.18px;
	top: 1451.3px;
	width: 615.11px;
	color: var(--sub-text-color);
}

.row2 p:last-child {
	font-family: "gmarket-sans-bold";
	font-size: 26px;
	line-height: 56px;
	position: absolute;
	left: 1117.18px;
	top: 1602.29px;
	width: 526.95px;
}

.start-up {
	position: absolute;
	left: 1040px;
	top: 1594px;
}

.half-arrow{
	position: absolute;
	left: 1653.18px;
	top: 1620.29px;
}

.page {
	font-family: "gmarket-sans-medium";
	font-size: 14px;
	line-height: 64px;
	color: var(--main-color);
}


/* banner */

#banner {
	position: absolute;
	top: 1963px;
}

.about {
	position: absolute;
	left: 931.18px;
	top: -110px;
}


#banner img {
	position: absolute;
	top: 0px;
}

#banner p:nth-child(3) {
	font-family: "gmarket-sans-light";
	font-size: 44px;
	line-height: 56px;
	color: #fff;
	position: absolute;
	left: 300.18px;
	top: 1989.89px;
}

#banner p:nth-child(4) {
	font-family: "gmarket-sans-light";
	font-size: 16px;
	line-height: 30px;
	color: var(--sub-banner-color);
	position: absolute;
	left: 1053.68px;
	top: 2241.3px;
	width: 576.5px;
}

#banner p:last-child {
	font-family: "malgun-gothic-bold";
	font-size: 16px;
	line-height: 30px;
	color: var(--main-text-color);
	position: absolute;
	left: 647.18px;
	top: 2424.3px;
	width: 625.19px;
}

/* service section */

.service {
	position: absolute;
	left: 925.18px;
	top: 2586.89px;
}

.imc {
	position: absolute;
	left: 354px;
	top: 2676px;
}

.imc-bg {
	position: absolute;
	left: 326px;
	top: 2648px;
}

.digital-mkt {
	position: absolute;
	left: 642px;
	top: 2676px;
}

.digital-mkt-bg {
	position: absolute;
	left: 614px;
	top: 2648px;
}

.issue-mkt{
	position: absolute;
	left: 929px;
	top: 2676px;
}

.issue-mkt-bg{
	position: absolute;
	left: 901px;
	top: 2648px;
}

.mkt-channels {
	position: absolute;
	left: 1215px;
	top: 2676px;
}

.mkt-channels-bg {
	position: absolute;
	left: 1187px;
	top: 2648px;
}

.start-up-edu {
	position: absolute;
	left: 1502px;
	top: 2676px;
}

.start-up-edu-bg {
	position: absolute;
	left: 1476px;
	top: 2645px;
}

.service-head {
	font-family: "gmarket-sans-medium";
	font-size: 18px;
	line-height: 36px;
}

.service-text {
	font-family: "malgun-gothic";
	font-size: 15px;
	line-height: 26px;
	color: var(--sub-text-color);
	text-align: center;
}

.imc-head {
	position: absolute;
	left: 366.18px;
	top: 2795.69px;
}

.imc-text {
	position: absolute;
	left: 280.77px;
	top: 2846.1px;
}

.digital-mkt-head {
	position: absolute;
	left: 606.18px;
	top: 2795.69px;
}

.digital-mkt-text {
	position: absolute;
	left: 545.86px;
	top: 2846.1px;
}

.issue-mkt-head {
	position: absolute;
	left: 904.18px;
	top: 2795.69px;
	width: 110.14px;
}

.issue-mkt-text {
	position: absolute;
	left: 826.36px;
	top: 2846.1px;
	width: 269.65px;
}

.mkt-channels-head {
	position: absolute;
	left: 1174.18px;
	top: 2795.69px;
	width: 144.09px;
}

.mkt-channels-text {
	position: absolute;
	left: 1124.72px;
	top: 2846.1px;
	width: 242.93px;
}

.start-up-head {
	position: absolute;
	left: 1460.18px;
	top: 2795.69px;
	width: 148.77px;
}

.start-up-text {
	position: absolute;
	left: 1402px;
	top: 2846.1px;
	width: 264.38px;
}


/* process section */

.process {
	position: absolute;
	left: 921.18px;
	top: 3173.89px;
}

.arrow {
	position: absolute;
	left: 198px;
	top: 3246px;
}

.arrow-line {
	position: absolute;
	left: 399px;
	top: 3312px;
}

.arrow-point {
	position: absolute;
	left: 395px;
	top: 3388px;
}

.arrow-wave {
	position: absolute;
	left: 320px;
	top: 3390px;
}

.process-head {
	font-family: "gmarket-sans-medium";
	font-size: 18px;
	line-height: 36px;
}

.process-text {
	font-family: "malgun-gothic";
	font-size: 15px;
	line-height: 26px;
	color: var(--sub-text-color);
	text-align: center;
}

.define-head {
	position: absolute;
	left: 362.18px;
	top: 3535.69px;
}

.define-text1 {
	position: absolute;
	left: 354.94px;
	top: 3586.1px;
}

.define-text2 {
	position: absolute;
	left: 365.94px;
	top: 3656.1px;
}

.plan-head {
	position: absolute;
	left: 722.18px;
	top: 3213.69px;
}

.plan-text1 {
	position: absolute;
	left: 710.2px;
	top: 3264.1px;
}

.plan-text2 {
	position: absolute;
	left: 685.2px;
	top: 3308.1px;
}

.execute-head {
	position: absolute;
	left: 1046.18px;
	top: 3551.69px;
}

.execute-text1 {
	position: absolute;
	left: 1068.89px;
	top: 3599.1px;
}

.execute-text2 {
	position: absolute;
	left: 1030.89px;
	top: 3643px;
	width: 130px;
}

.execute-text3 {
	position: absolute;
	left: 992.89px;
	top: 3687px;
	width: 212px;
}

.report-head {
	position: absolute;
	left: 1401.18px;
	top: 3231.69px;
}

.report-text {
	position: absolute;
	left: 1393.87px;
	top: 3282.1px;
	width: 98.62px;
}

.dot1 {
	position: absolute;
	left: 397.18px;
	top: 3583.69px;
}

.dot2 {
	position: absolute;
	left: 397.18px;
	top: 3653.69px;
}

.dot3 {
	position: absolute;
	left: 748.18px;
	top: 3261.69px;
}

.dot4 {
	position: absolute;
	left: 748.18px;
	top: 3303.69px;
}

.dot5 {
	position: absolute;
	left: 1093px;
	top: 3592.69px;
}

.dot6 {
	position: absolute;
	left: 1093px;
	top: 3636.69px;
}

.dot7 {
	position: absolute;
	left: 1093px;
	top: 3681.69px;
}

.dot8 {
	position: absolute;
	left: 1440.87px;
	top: 3275.1px;
}

/* client section */

.brand {
	font-family: "gmarket-sans-medium";
	font-size: 18px;
	line-height: 36px;
}

.line {
	position: absolute;
	width: 1520px;
	height: 1px;
	left: 200px;
	background: var(--line-color);
}

.consumer-line {
	top: 4359px;
}

.education-line {
	top: 4745px;
}

.jc-line {
	top: 4996px;
}

.client {
	position: absolute;
	left: 930.18px;
	top: 3821.89px;
}

.technology {
	position: absolute;
	left: 255.18px;
	top: 3878.69px;
}

.consumer {
	position: absolute;
	left: 255.18px;
	top: 4399.69px;
}

.education {
	position: absolute;
	left: 255.18px;
	top: 4785.69px;
}

.jc {
	position: absolute;
	left: 255.18px;
	top: 5036.69px;
}


.amd {
	position: absolute;
	left: 376px;
	top: 3976px;
}

.symantec {
	position: absolute;
	left: 715px;
	top: 3970px;
}

.intel {
	position: absolute;
	left: 1098px;
	top: 3963px;
}

.plantronics {
	position: absolute;
	left: 1436px;
	top: 3981px;
}

.gigabyte {
	position: absolute;
	left: 362px;
	top: 4109px;
}

.steelseries {
	position: absolute;
	left: 712px;
	top: 4109px;
}

.benq {
	position: absolute;
	left: 1094px;
	top: 4110px;
}

.itembay {
	position: absolute;
	left: 1443px;
	top: 4111px;
}

.nox {
	position: absolute;
	left: 364px;
	top: 4242px;
}

.dwcts {
	position: absolute;
	left: 717px;
	top: 4242px;
}

.kivic {
	position: absolute;
	left: 1102px;
	top: 4245px;
}

.gizmon {
	position: absolute;
	left: 1445px;
	top: 4238px;
}

.vitslaw {
	position: absolute;
	left: 346px;
	top: 4487px;
}

.tos {
	position: absolute;
	left: 763px;
	top: 4486px;
}

.blockware {
	position: absolute;
	left: 1076px;
	top: 4498px;
}

.eagon {
	position: absolute;
	left: 1459px;
	top: 4486px;
}

.kookdea {
	position: absolute;
	left: 348px;
	top: 4632px;
}

.chicken {
	position: absolute;
	left: 709px;
	top: 4632px;
}

.yakult {
	position: absolute;
	left: 1075px;
	top: 4628px;
}

.meail {
	position: absolute;
	left: 1433px;
	top: 4633px;
}

.superbook {
	position: absolute;
	left: 364px;
	top: 4881px;
}

.woongjin {
	position: absolute;
	left: 717px;
	top: 4860px;
}

.sungkyul {
	position: absolute;
	left: 1078px;
	top: 4884px;
}

.test {
	position: absolute;
	left: 1414px;
	top: 4884px;
}

.acrofan {
	position: absolute;
	left: 354px;
	top: 5130px;
}

.cafe {
	position: absolute;
	left: 741px;
	top: 5134px;
}

.cafe-name {
	font-family: "gmarket-sans-medium";
	font-size: 14px;
	line-height: 64px;
	position: absolute;
	left: 784.64px;
	top: 5114px;
}

.campingdeal {
	position: absolute;
	left: 1076px;
	top: 5106px;
}

.jeonja {
	position: absolute;
	left: 1423px;
	top: 5122px;
}


/* footer */

footer {
	width: 1920px;
	height: 336px;
	background: var(--footer-color);
	position: relative;
	top: 5370px;
	color: #fff;
}

.footer-logo {
	position: absolute;
	left: 200px;
	top: 61px;
}

footer p:nth-child(2) {
	font-family: "malgun-gothic";
	font-size: 14px;
	line-height: 30px;
	position: absolute;
	left: 199.18px;
	top: 90px;
}

footer p:nth-child(3) {
	font-family: "malgun-gothic";
	font-size: 14px;
	line-height: 30px;
	letter-spacing: 0.050em;
	position: absolute;
	left: 199.18px;
	top: 110px;
}

footer .map-btn {
	width: 119px;
	height: 30px;
	position: absolute;
	left: 507px;
	top: 91px;
	background: var(--main-color);
	border-radius: 4px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 0 20px;
	color: #fff;
}

footer .brochure-btn {
	width: 229.07px;
	height: 48.12px;
	position: absolute;
	left: 1490.97px;
	top: 91px;
	background: var(--main-color);
	border-radius: 4px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 0 25px;
	color: #fff;
}

.footer-line {
	position: absolute;
	width: 1520px;
	height: 1px;
	left: 200px;
	top: 200px;
	background: var(--footer-line-color)
}

footer .copy {
	font-family: "malgun-gothic";
	font-size: 14px;
	line-height: 30px;
	letter-spacing: 0.050em;
	position: absolute;
	top: 220px; 
	width: 1920px;
	text-align: center;
}