/* 연결 된 css */
@import url('font.css');


/* root */
:root {
	--main-color: #001fd1;
	--main-text-color: #000000;
	--sub-text-color: #666666;
	--sub-banner-color: #b0b4eb;
	--line-color: #d1d1d1;
	--footer-color: #222222;
	--footer-line-color: #393939;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: var(--main-text-color)
}

.container {
	width: 1920px;
	margin: 0 auto;
}

body {
	position: relative;
}

html{
	scroll-behavior: smooth;
}


/* header */

header {
	position: relative;
	height: 150px;
}

header .header-color-bar {
	position: absolute;
	top: 0;
	width: 1920px;
	height: 10px;
	background:var(--main-color)
}

header #logo {
	position: absolute;
	left: 200px;
	top: 66px;
}

header #gnb {
	display: flex;
	position: absolute;
	left: 903.68px;
	top: 76.96px;
}

header #gnb li {
	margin-right: 68px;
	font-size: 14px;
	font-family: "gmarket-sans-medium";
	line-height: 18px;
	letter-spacing: 0.025em;
	/* z-index: 1; */
}

header #gnb li:hover {
	color: var(--main-color);
}

.gnb-point {
	position: absolute;
	left: 995px;
	top: 84px;
	z-index: -1;
}

header .kor {
	position: absolute;
	width: 67px;
	height: 25px;
	left: 1583px;
	top: 73px;
	border-radius: 4px;
	color: #fff;
	background: var(--main-color);
	display: flex;
	align-items: center;
	justify-content: center;
}

header .eng {
	position: absolute;
	width: 67px;
	height: 25px;
	left: 1653px;
	top: 73px;
	border-radius: 4px;
	color: var(--main-color);
	border: 1px solid var(--main-color);
	display: flex;
	align-items: center;
	justify-content: center;
}


/* main section */

.row1-img {
	position: absolute;
	top: 241px;
	left: 828px;
	z-index: 2;
}

.row1-circle {
	position: absolute;
	top: 764px;
	left: 795px;
}

.row1-line {
	position: absolute;
	top: 245px;
	left: 909px;
}

.row1-point {
	position: absolute;
	top: 323px;
	left: 1631px;
}

.row1 p:nth-child(5) {
	font-family: "gmarket-sans-light";
	font-size: 54px;
	line-height: 66px;
	position: absolute;
	left: 198.18px;
	top: 363.89px;
	width: 683.85px;
}

.row1 p:last-child {
	font-family: "gmarket-sans-bold";
	font-size: 54px;
	line-height: 66px;
	position: absolute;
	left: 197.18px;
	top: 708.89px;
	width: 497.77px;
}

p span {
	color: var(--main-color);
}

.row2-img {
	position: absolute;
	top: 1146px;
	left: 177px;
	z-index: 1;
}

.row2-line {
	position: absolute;
	top: 1094px;
	left: 255px;
}

.row2 p:nth-child(3) {
	font-family: "gmarket-sans-light";
	font-size: 44px;
	line-height: 56px;
	position: absolute;
	left: 1038.18px;
	top: 1200.89px;
	width: 615.11px;
}

.row2 p:nth-child(4) {
	font-family: "malgun-gothic";
	font-size: 16px;
	line-height: 30px;
	position: absolute;
	left: 1039.18px;
	top: 1451.3px;
	width: 615.11px;
	color: var(--sub-text-color);
}

.row2 p:last-child {
	font-family: "gmarket-sans-bold";
	font-size: 26px;
	line-height: 56px;
	position: absolute;
	left: 1117.18px;
	top: 1602.29px;
	width: 526.95px;
}

.start-up {
	position: absolute;
	left: 1040px;
	top: 1594px;
}

.half-arrow{
	position: absolute;
	left: 1653.18px;
	top: 1620.29px;
}

.page {
	font-family: "gmarket-sans-medium";
	font-size: 14px;
	line-height: 64px;
	color: var(--main-color);
}


/* banner */

#banner {
	position: absolute;
	top: 1853px;
}

.about {
	position: absolute;
	left: 931.18px;
	top: 0px;
}


#banner img {
	position: absolute;
	top: 110px;
}

#banner p:nth-child(3) {
	font-family: "gmarket-sans-light";
	font-size: 44px;
	line-height: 56px;
	color: #fff;
	position: absolute;
	left: 300.18px;
	top: 146.89px;
}

#banner p:nth-child(4) {
	font-family: "gmarket-sans-light";
	font-size: 16px;
	line-height: 30px;
	color: var(--sub-banner-color);
	position: absolute;
	left: 1053.68px;
	top: 398.3px;
	width: 576.5px;
	text-align: right;
}

#banner p:last-child {
	font-family: "malgun-gothic-bold";
	font-size: 16px;
	line-height: 30px;
	color: var(--main-text-color);
	position: absolute;
	left: 647.18px;
	top: 581.3px;
	width: 625.19px;
}

/* service section */

#service {
	position: absolute;
	text-align: center;
	top: 2586.89px;
}


.imc {
	position: absolute;
	left: 354px;
	top: 100px;
}

.imc-bg {
	position: absolute;
	left: 326px;
	top: 70px;
}

.digital-mkt {
	position: absolute;
	left: 642px;
	top: 100px;
}

.digital-mkt-bg {
	position: absolute;
	left: 614px;
	top: 75px;
}

.issue-mkt{
	position: absolute;
	left: 929px;
	top: 100px;
}

.issue-mkt-bg{
	position: absolute;
	left: 901px;
	top: 75px;
}

.mkt-channels {
	position: absolute;
	left: 1215px;
	top: 100px;
}

.mkt-channels-bg {
	position: absolute;
	left: 1187px;
	top: 75px;
}

.start-up-edu {
	position: absolute;
	left: 1502px;
	top: 100px;
}

.start-up-edu-bg {
	position: absolute;
	left: 1476px;
	top: 65px;
}

.service-head {
	font-family: "gmarket-sans-medium";
	font-size: 18px;
	line-height: 36px;
}

.service-text {
	font-family: "malgun-gothic";
	font-size: 15px;
	line-height: 26px;
	color: var(--sub-text-color);
	text-align: center;
}

.imc-head {
	position: absolute;
	left: 366.18px;
	top: 208.8px;
}

.imc-text {
	position: absolute;
	left: 280.77px;
	top: 259.21px;
}

.digital-mkt-head {
	position: absolute;
	left: 606.18px;
	top: 208.8px;
}

.digital-mkt-text {
	position: absolute;
	left: 545.86px;
	top: 259.21px;
}

.issue-mkt-head {
	position: absolute;
	left: 904.18px;
	top: 208.8px;
	width: 117.14px;
}

.issue-mkt-text {
	position: absolute;
	left: 826.36px;
	top: 259.21px;
	width: 269.65px;
}

.mkt-channels-head {
	position: absolute;
	left: 1174.18px;
	top: 208.8px;
	width: 144.09px;
}

.mkt-channels-text {
	position: absolute;
	left: 1124.72px;
	top: 259.21px;
	width: 242.93px;
}

.start-up-head {
	position: absolute;
	left: 1460.18px;
	top: 208.8px;
	width: 148.77px;
}

.start-up-text {
	position: absolute;
	left: 1402px;
	top: 259.21px;
	width: 264.38px;
}


/* process section */

#process {
	position: absolute;
	text-align: center;
	top: 3173.89px;
}

.arrow {
	position: absolute;
	left: 198px;
	top: 92.11px;
}

.arrow-line {
	position: absolute;
	left: 399px;
	top: 158.11px;
}

.arrow-point {
	position: absolute;
	left: 395px;
	top: 234.11px;
}

.arrow-wave {
	position: absolute;
	left: 320px;
	top: 236.11px;
}

.process-head {
	font-family: "gmarket-sans-medium";
	font-size: 18px;
	line-height: 36px;
}

.process-text {
	font-family: "malgun-gothic";
	font-size: 15px;
	line-height: 26px;
	color: var(--sub-text-color);
	text-align: center;
}

.define-head {
	position: absolute;
	left: 362.18px;
	top: 381.8px;
}

.define-text1 {
	position: absolute;
	left: 354.94px;
	top: 432.21px;
}

.define-text2 {
	position: absolute;
	left: 365.94px;
	top: 502.21px;
}

.plan-head {
	position: absolute;
	left: 722.18px;
	top: 59.8px;
}

.plan-text1 {
	position: absolute;
	left: 710.2px;
	top: 110.21px;
}

.plan-text2 {
	position: absolute;
	left: 685.2px;
	top: 154.21px;
}

.execute-head {
	position: absolute;
	left: 1046.18px;
	top: 397.8px;
}

.execute-text1 {
	position: absolute;
	left: 1068.89px;
	top: 445.21px;
}

.execute-text2 {
	position: absolute;
	left: 1030.89px;
	top: 489.11px;
	width: 130px;
}

.execute-text3 {
	position: absolute;
	left: 992.89px;
	top: 533.11px;
	width: 212px;
}

.report-head {
	position: absolute;
	left: 1401.18px;
	top: 59.8px;
}

.report-text {
	position: absolute;
	left: 1393.87px;
	top: 128.21px;
	width: 98.62px;
}

.dot1 {
	position: absolute;
	left: 397.18px;
	top: 429.8px;
}

.dot2 {
	position: absolute;
	left: 397.18px;
	top: 499.8px;
}

.dot3 {
	position: absolute;
	left: 748.18px;
	top: 107.8px;
}

.dot4 {
	position: absolute;
	left: 748.18px;
	top: 149.8px;
}

.dot5 {
	position: absolute;
	left: 1093px;
	top: 438.8px;
}

.dot6 {
	position: absolute;
	left: 1093px;
	top: 482.8px;
}

.dot7 {
	position: absolute;
	left: 1093px;
	top: 527.8px;
}

.dot8 {
	position: absolute;
	left: 1440.87px;
	top: 121.21px;
}

/* client section */

#client{
	position: absolute;
	text-align: center;
	top: 3821.89px;
}

.brand {
	font-family: "gmarket-sans-medium";
	font-size: 18px;
	line-height: 36px;
}

.line {
	position: absolute;
	width: 1520px;
	height: 1px;
	left: 200px;
	background: var(--line-color);
}

.consumer-line {
	top: 537.11px;
}

.education-line {
	top: 923.11px;
}

.jc-line {
	top: 1174.11px;
}

.technology {
	position: absolute;
	left: 255.18px;
	top: 56.8px;
}

.consumer {
	position: absolute;
	left: 255.18px;
	top: 577.8px;
}

.education {
	position: absolute;
	left: 255.18px;
	top: 963.8px;
}

.jc {
	position: absolute;
	left: 255.18px;
	top: 1214.8px;
}


.amd {
	position: absolute;
	left: 376px;
	top: 154.11px;
}

.symantec {
	position: absolute;
	left: 715px;
	top: 148.11px;
}

.intel {
	position: absolute;
	left: 1098px;
	top: 141.11px;
}

.plantronics {
	position: absolute;
	left: 1436px;
	top: 159.11px;
}

.gigabyte {
	position: absolute;
	left: 362px;
	top: 287.11px;
}

.steelseries {
	position: absolute;
	left: 712px;
	top: 287.11px;
}

.benq {
	position: absolute;
	left: 1094px;
	top: 288.11px;
}

.itembay {
	position: absolute;
	left: 1443px;
	top: 289.11px;
}

.nox {
	position: absolute;
	left: 364px;
	top: 420.11px;
}

.dwcts {
	position: absolute;
	left: 717px;
	top: 420.11px;
}

.kivic {
	position: absolute;
	left: 1102px;
	top: 423.11px;
}

.gizmon {
	position: absolute;
	left: 1445px;
	top: 416.11px;
}

.vitslaw {
	position: absolute;
	left: 346px;
	top: 665.11px;
}

.tos {
	position: absolute;
	left: 763px;
	top: 664.11px;
}

.blockware {
	position: absolute;
	left: 1076px;
	top: 676.11px;
}

.eagon {
	position: absolute;
	left: 1459px;
	top: 664.11px;
}

.kookdea {
	position: absolute;
	left: 348px;
	top: 810.11px;
}

.chicken {
	position: absolute;
	left: 709px;
	top: 810.11px;
}

.yakult {
	position: absolute;
	left: 1075px;
	top: 806.11px;
}

.meail {
	position: absolute;
	left: 1433px;
	top: 811.11px;
}

.superbook {
	position: absolute;
	left: 364px;
	top: 1059.11px;
}

.woongjin {
	position: absolute;
	left: 717px;
	top: 1038.11px;
}

.sungkyul {
	position: absolute;
	left: 1078px;
	top: 1062.11px;
}

.test {
	position: absolute;
	left: 1414px;
	top: 1062.11px;
}

.acrofan {
	position: absolute;
	left: 354px;
	top: 1308.11px;
}

.cafe {
	position: absolute;
	left: 741px;
	top: 1312.11px;
}

.cafe-name {
	font-family: "gmarket-sans-medium";
	font-size: 14px;
	line-height: 64px;
	position: absolute;
	left: 784.64px;
	top: 1292.11px;
}

.campingdeal {
	position: absolute;
	left: 1076px;
	top: 1284.11px;
}

.jeonja {
	position: absolute;
	left: 1423px;
	top: 1300.11px;
}


/* footer */

footer {
	width: 1920px;
	height: 336px;
	background: var(--footer-color);
	position: relative;
	top: 5370px;
	color: #fff;
}

.footer-logo {
	position: absolute;
	left: 200px;
	top: 61px;
}

footer p:nth-child(2) {
	font-family: "malgun-gothic";
	font-size: 14px;
	line-height: 30px;
	position: absolute;
	left: 199.18px;
	top: 90px;
}

footer p:nth-child(3) {
	font-family: "malgun-gothic";
	font-size: 14px;
	line-height: 30px;
	letter-spacing: 0.050em;
	position: absolute;
	left: 199.18px;
	top: 110px;
}

footer .map-btn {
	width: 119px;
	height: 30px;
	position: absolute;
	left: 507px;
	top: 91px;
	background: var(--main-color);
	border-radius: 4px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 0 20px;
	color: #fff;
}

footer .brochure-btn {
	width: 229.07px;
	height: 48.12px;
	position: absolute;
	left: 1490.97px;
	top: 91px;
	background: var(--main-color);
	border-radius: 4px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 0 25px;
	color: #fff;
}

.footer-line {
	position: absolute;
	width: 1520px;
	height: 1px;
	left: 200px;
	top: 200px;
	background: var(--footer-line-color)
}

footer .copy {
	font-family: "malgun-gothic";
	font-size: 14px;
	line-height: 30px;
	letter-spacing: 0.050em;
	position: absolute;
	top: 220px; 
	width: 1920px;
	text-align: center;
}